# Build artifacts
py-dep-kun
test-report
.pytest_cache
.DS_store
.mypy_cache
htmlcov

# Editor files
.vim
.idea/
.project
.pydevproject

# Temporary and user configuration files
*~
*.orig
*.rej
*.swp
